<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello!
        </title>
    </head>
<body>
    <h1>Hi</h1>
    <p>Please fill out your user profile below!</p>
    <form action="/profile", method="post">
      <fieldset>
            First name:<br>
            <input type="text" name="firstname" value=""><br>
            Last name:<br>
            <input type="taction_page.php"action_page.php"ext" name="lastname" value=""><br><br>
            Favorite SoftDes Ninja:<br>
            <input type="taction_page.php"action_page.php"ext" name="Favninja" value=""><br><br>
            <input type="submit" value="Submit">
      <fieldset>
    </form>
</body>
</html>
